$font-family:
  "OpenSans",
  "Tahoma",
  -apple-system,
  system-ui,
  "BlinkMacSystemFont",
  "Segoe UI",
  "Roboto",
  "Helvetica Neue",
  "Arial",
  sans-serif;

$font-size: 16px;
$spacer: 16px;

$backdrop: rgba(214, 214, 214, 0.4);
$opacity: 0.7;

$grid-breakpoints: (
  xs: 0,
  xs360: 360px,
  xs375: 375px,
  sm: 768px,
  sm1024: 1024px,
  sm1280: 1280px,
  md: 1281px,
  lg: 1367px,
  xl: 1441px,
  fh: 1601px
);

$container-max-widths: (
  xs360: 360px,
  xs375: 375px,
  sm: 768px,
  sm1024: 1024px,
  sm1280: 1025px, // 1280
  md: 1096px, // 1366
  lg: 1156px, // 1440
  xl: 1288px, // 1600
  fh: 1540px
);
