<section id="buttons">
  <div class="inner-page-m col-12">
    <button class="button">Default</button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_light">Light</button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_primary">Primary</button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_primary button_primary-icon">
      <svg class="icon icon_basket">
        <use xlink:href="./images/svg.svg#basket"></use>
      </svg>
      Купить
    </button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_outline">Outline</button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_gradient">Gradient</button>
  </div>
  <div class="inner-page-m col-12">
    <button class="button button_show-more js-show-more">
      <svg class="icon icon_plus">
        <use xlink:href="./images/svg.svg#plus"></use>
      </svg>
      Показать ещё
      <strong>(11)</strong>
    </button>
  </div>
</section>

