.jq {
  &-selectbox {
    &__select {
      border: 1px solid $colorBorderGray;
      width: 100%;
      padding: $padding/2 $padding;
      font-size: .875*$fontSize;
      cursor: pointer;
    }
    &__trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 2*$sizeBase;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__trigger-arrow {
      &:before {
        content: "\f016";
        font-family: 'FinIcons';
      }
    }
    &__dropdown {
      width: 100%;
      border: 1px solid $colorBorderGray;
      border-top: 0px;
      font-size: .875*$fontSize;
      background: $colorWhite;
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: $padding/2 $padding;
          cursor: pointer;
          &:hover {
            background: $colorBackground;
          }
        }
      }
    }
  }
}