{% extends "./layout/index.njk" %}

{% block content %}
    <main>
        <svg>
           <use xlink:href="./images/fill.svg#preloader"></use>
        </svg>
         <svg>
           <use xlink:href="./images/nofill.svg#preloader2"></use>
        </svg>
        {% include "./pages/index/parts.njk" %}
    </main>
{% endblock %}