<section id="headers">
  <div class="inner-page-m col-12">
    <header>
      <h1>Первый уровень</h1>
    </header>
  </div>
  <div class="inner-page-m col-12">
    <header>
      <h2>Второй уровень</h2>
    </header>
  </div>
  <div class="inner-page-m col-12">
    <header>
      <h3>Третий уровень</h3>
    </header>
  </div>
  <div class="inner-page-m col-12">
    <header class="header-with-icon">
      <h4><i class="icon-png icon-crown "></i>Заголовок с иконкой</h4>
    </header>
  </div>

</section>