<div class="top-line">
   <div class="container">
     <div class="row">
       <button>
         <svg class="icon icon_burger">
           <use xlink:href="./images/svg.svg#burger"></use>
         </svg>
       </button>
     </div>
   </div>
</div>