<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
{% include 'ui/ui-nav.njk' %}
{% include 'ui/headers/headers.njk' %}
{% include 'ui/buttons/buttons.njk' %}
{% include 'ui/form/inputs.njk' %}

<script src="./vendors/vendors.min.js"></script>
<script src="./js/index.min.js"></script>
</body>
</html>

