<section id="inputs">
  <div class="inner-page-m col-12">
    <input class="sa-input br-gray notvalidate" type="text" required="required" placeholder="Ваше имя">
  </div>
  <div class="inner-page-m col-12">
    <input class="sa-input br-gray notvalidate" type="password" required="required" placeholder="Ваш пароль">
  </div>
  <div class="inner-page-m col-12">
    <input type="tel" class="sa-input br-gray js-phone">
  </div>
  <div class="inner-page-m col-12">
    <div class="ui-counter d-flex">
      <button class="ui-counter__minus js-counter-minus">
        <svg class="counter-icon">
          <use xlink:href="./images/svg.svg#minus"></use>
        </svg>
      </button>
      <input type="number" class="sa-input_counter js-counter-count" value="1">
      <button class="ui-counter__plus js-counter-plus">
        <svg class="counter-icon" >
          <use xlink:href="./images/svg.svg#plus"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="inner-page-m col-12">
    <input type="checkbox" class="sa-checkbox">
  </div>
  <div class="inner-page-m col-12">
    <input type="radio" class="sa-radio">
  </div>

</section>
