.button-toggler {
    padding: $spacer/4 $spacer;
    border: 2px solid $colorBorderGray;
    display: inline-block;
    color: $colorBorderGray;
    @include transition();
    &:hover {
        color: $colorLinkHover;
        border-color: $colorLink;
    }
    @include media-breakpoint-down(xs) {
        width: 100%;
        text-align: center;
        padding: $spacer/2 $spacer;
    }
}

.form-faq-toggle {
    display: block;
    border-left: 4px solid $colorLink;
    padding: $spacer/2 $spacer;
}

.floating-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & span {
        padding-left: $spacer/2;
        color: $colorText;
    }
}