<div class="basket header__basket">
  <a 
    href="/basket"
    class="basket__link"
  >
    <span class="basket__icon">
      <img 
        src="./images/cart.png" 
        srcset="./images/cart2x.png 2x"
        alt="Корзина"
      >
    </span>
    <span class="basket__text">
      Корзина:
    </span>
    <span class="basket__count">
      пока пуста
    </span>
  </a>
</div>