<header class="header">
  <div class="container">
    <nav class="header__nav"> 
      <ul class="header__nav-list list-unstyled">    
        {% include './catalog.njk' %}    
        {% include './separator.njk' %}
        {% include './on-order.njk' %}            
      </ul>    
      {% include './logo.njk' %}   
      {% include './separator.njk' %}    
      {% include './search.njk' %}   
      {% include './separator.njk' %}
      {% include './basket.njk' %}   
    </nav>
  </div>
</header>