<div class="header-logo">
  <a 
    href="/" 
    class="header-logo__link"
  >
    <img 
      src="./images/header-logo1x.png" 
      alt="Логотип Мишка" 
      srcset="./images/header-logo2x.png 2x"
    />
  </a>
</div>
