<div class="header__search-wrapper">
  <form 
    action="/" 
    method="post" 
    class="search-form header__search-form"
  >
    <div class="search-label header__search-label">
      <a 
        href="javascript:void(0)" 
        class="search-label js-search-label"
      >
        <img 
          src="./images/search.png"
          srcset="./images/search2x.png 2x"
          alt="Поиск"
        />
      </a>
    </div>
    <div class="search-box header__search-box search-box_invisible">
      <div class="search-box__field">
        <input 
          type="search" 
          placeholder="Поиск..."
          class="input input_search"
        >
        <button 
          type="submit"
          class="button button_submit"
        >
          Найти
        </button>
      </div>     
    </div>    
  </form>
</div>