.quickmenu {
    &.is-mobile {
        transition: .4s linear;
        height: auto;
        z-index: 12 !important;
        max-width: 250px;
    }
    z-index: 12 !important;
    display: block;
    position: fixed;
    right: 0;
    top: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    background-color: $colorBackground;
    transform: translateX(186px);
    transition: .4s linear;
    max-width: 250px;
    &__item-mobile {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        &.is-hide {
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        bottom: 0;
        right: 0;
        top: auto;
        height: 50px;
        overflow: hidden;
        @include transition();
    }
    &:hover {
        @include media-breakpoint-up(sm) {
            transform: translateX(0);
            @include transition();
        }
    }
    &__list {
        margin-bottom: 0;
    }
    &__content {
        display: flex;
        width: 250px;
        align-items: center;
    }
    &__picture {
        height: 3 * $font-size-base;
        padding-left: $spacer;
        padding-right: $spacer;
        display: flex;
        align-items: center;
    }
    &__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: ($spacer/2);
    }
    & i {
        font-size: 1.875 * $font-size-base;
    }
    &__item {
        border-bottom: 1px solid $colorBorderGray;
        background-color: $colorBackground;
        margin-bottom: 1px;
        &:hover {
            background-color: $tableTdColor;
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    & a {
        display: block;
    }
    & .for {
        color: $colorTextLight;
        text-transform: lowercase;
        font-size: 0.75em;
        margin-top: -2px;
    }
    & .what {
        color: $colorText;
        font-size: .625em;
        margin-top: 3px;
        margin-bottom: 3px;
        text-transform: uppercase;
        font-weight: $fontBold;
    }
}