<div class="quickmenu">
    <ul class="quickmenu__list list-unstyled">
        <li class="quickmenu__item quickmenu__item-mobile">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon icon-pinpad"></i>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-inetbank"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">мой</span>
                        <span class="what">интернет-банк</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-mortage-building"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">взять взаймы</span>
                        <span class="what">ипотека аижк</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-mortgage"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">взять взаймы</span>
                        <span class="what">ипотека</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-cash-credit"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">взять взаймы</span>
                        <span class="what">потребительский кредит</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-cardtransfer"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">перевести</span>
                        <span class="what">с карты на карту</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-call"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="what">контакты</span>
                        <span class="for">и реквизиты</span>

                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-location"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">офисы и банкоматы</span>
                        <span class="what">в вашем городе</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="quickmenu__item">
            <a href="#" class="quickmenu__link">
                <div class="quickmenu__content">
                    <div class="quickmenu__picture">
                        <i class="icon icon-tariffs"></i>
                    </div>
                    <div class="quickmenu__text">
                        <span class="for">тарифы</span>
                        <span class="what">для вас</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>