.catalog {
  margin-right: $spacer*2;
  &__link {
    font-weight: bold;
    font-size: $font-size;
    color: $primary-black;
    &:hover {
      color: $primary-black;
      opacity: $opacity;
      text-decoration: none;
    }
  }
}