@keyframes bounce {
  from {
    transform: translateY(-100px);
  }  
  70% {
    transform:  translateY(10px);
  }
  80% {
    transform:  translateY(-5px);
  }
  90% {
    transform:  translateY(2px);
  }
  to {
    transform:  translateY(0);
  }
}

.header-logo {
  padding: 0 $spacer*3;  
  &__link {
    transform:  translateY(0);
  
    animation-name: bounce;
    animation-duration: 1200ms;
    animation-timing-function: ease-in;
    &:hover {
      opacity: $opacity;
    }
  }  
}