.intl-tel-input {
  display: block;
}

.selected-flag {
  background-color: #dee2ec;
  width: 70px !important;
}

.intl-tel-input .selected-flag .iti-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #555;
  height: 0;
  margin-top: -2px;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0;
}

.intl-tel-input .selected-flag {
  padding: 0 0 0 16px;
}

input[type="tel"] {
  padding-left: 90px !important;
}

.sa-input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: $colorPrimaryFirst;
  padding-left: 20px;
  box-sizing: border-box;
  &[placeholder] {
    font-size: $fontSize * 1.25;
  }
}

.ui-counter {
  width: 143px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: $colorPrimaryFirst;
  border: 1px solid $colorBorder;

  &__minus,
  &__plus {
    height: 100%;
    fill: $colorPrimarySecond;
    border: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: $fontSize * 2;
    color: $colorPrimarySecond;
    & svg {
      width: 10px;
      height: 8px;
      fill: $colorPrimarySecond;
    }
  }
  & input {
    max-width: 100%;
    width: 40%;
    border: 0;
    color: $colorPrimarySecond;
    text-align: center;
    border: 1px solid $colorBorder;
    border-top: 0;
    border-bottom: 0;
    height: 100%;
  }
  @include media-breakpoint-down(sm) {
    width: 160px;
  }
  @include media-breakpoint-down(xs) {
    width: 140px;
  }
}