/**
  fz- Сокращение font-size
*/

.fz-2 {
    font-size: 2 * $fontSize;
}

.fz-3 {
    font-size: 3 * $fontSize;
}

.fz-4 {
    font-size: 4 * $fontSize;
}


/*
  v-hidden класс убирающий элемент во всех браузерах
*/

.v-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}