body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $fontFamily;
}

body.noscroll {
    position: fixed;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-base;
}











