@include media-breakpoint-down(sm) {
  .container {
    width: 100%;
  }
}

.small-gutters {
  margin-right: -$grid-gutter-width-base/4;
  margin-left: -$grid-gutter-width-base/4;
  >.col,
  >[class*="col-"] {
    padding-right: $grid-gutter-width-base/4;
    padding-left: $grid-gutter-width-base/4;
  }
}