$sizeBase: 1rem;
$spacer: $sizeBase;
$fontSize: $sizeBase;
$opacity: 0.8;
$fontRegular: 300;
$fontBold: 600;
$fontSuperBold: 900;
$fontFamily: 'PT Sans', sans-serif,
sans-serif;
$colorPrimaryFirst: #fff;
$colorPrimarySecond: #18191c;
$colorLink: #68a8de;
$colorBorder: #d8dbdf;
$colorGhost: #686e7d;
$colorTimer: #f2c537;
$colorPrimaryButton: #fbcc3f;
$colorGradientButton: #eab722;
$colorText: #18191c;

$colorLinkHover: #336699;
$colorDanger: red;
$zMenu: 100;
$zSelect: 200;
$zTooltip: 300;
$font-family-sans-serif: 'PT Sans',
-apple-system,
system-ui,
BlinkMacSystemFont,
Roboto,
Arial,
sans-serif;
$grid-gutter-width-base: $spacer*2;
$grid-breakpoints: ( xs: 0,
/* телефон 320-375 */

xm: 380px, sm: 768px,
/* 768-1024 - планшет */


/* bmd - междупланшетная версия */

bmd: 920px, md: 1025px,
/* ноутбук 1280-1366 */

lg: 1367px,
/* большой ноутбук 1440-1680 */

xl: 1681px
/* 1920 */

);
$container-max-widths: (xm: 420px, sm: 768px, bmd: 920px, md: 1092px, lg: 1280px, xl: 1536px);