.inner-page-section_icon {
    @include media-breakpoint-down(xs) {
        padding: 0;
        border: 0;
    }
}

.inner-page-section_offers {
    & .offers-picture {
        width: 12rem;
        height: 11rem;
        opacity: 0.8;
        @include media-breakpoint-down(xs) {
            width: 9rem;
            height: 8.5rem;
            background-size: cover;
        }
        @include transition();
        &:hover {
            opacity: 1;
        }
    }
    @include media-breakpoint-down(xs) {
        background-image: none !important;
        background-color: $colorBackground;
    }
}

.cards-constructor-section {
    background-size: cover;
    min-height: 678px;
}

.inner-page-first-section {
    @include media-breakpoint-down(sm) {
        padding-top: 0rem;
    }
}

.inner-page-section_bg {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed, fixed;
}

.inner-page-section_line {
    background-repeat: no-repeat;
    background-size: cover;
    & .postheader-line {
        content: '';
        position: relative;
        bottom: .875rem;
        width: calc(100% - 5rem);
        height: 3px;
        background-color: $colorBorderGray;
        @include media-breakpoint-down(xs) {
            bottom: 0.375rem;
            width: calc(100% - 4.5rem);
        }
        &::after {
            position: absolute;
            content: "\f06f";
            font-family: FinIcons;
            color: $colorBorderGray;
            font-size: 3.75rem;
            top: -2.5rem;
            right: -5.5rem;
            @include media-breakpoint-down(sm) {
                font-size: 3.175rem;
                top: -2rem;
                right: -4.75rem;
            }
        }
    }
}

.inner-page-menu li,
.inner-page-menu span,
.inner-page-menu a{
    z-index: $zMenu;
}


