.document-list {
    margin: 0;
    & a {
        color: $colorText;
        font-size: 0.75 * $fontSize;
        text-decoration: none;
        @include transition();
    }
    & i {
        font-size: 1.75rem;
        color: $colorLink;
        float: left;
        transform: translateY(2px);
    }
    & a {
      display: flex;
      align-items: center;
      
    }
    & a>span {
        padding: 0 ($spacer/2);
    }
    & a:hover>span {
        text-decoration: underline;
        color: darken($colorLink, 10%);
    }
    & li {
        padding: ($spacer / 2) 0;
    }
}

.circle-dot-list {
    li {
        margin: ($spacer / 2) 0;
        display: flex;
        align-items: baseline;
        padding-left: 0.5 * $spacer;
    }
    i {
        display: inline-block;
        color: $colorLinkHover;
        font-size: 0.5 * $fontSize;
        font-weight: $fontBold;
        float: left;
        margin-top: $spacer * 0.375;
        margin-right: 0.5 * $spacer;
    }
    span,
    a {
        display: inline-block;
        font-size: 0.875rem;
        line-height: 1.4;
        @include media-breakpoint-down(xs) {
            font-size: 0.75rem;
        }
    }
}