<div class="container">
  <div class="box">
    {% for i in range(0, 5) -%}
    <a class="test-popup-link" href="https://placeimg.com/120/120/any?{{ i }}">
      <img src="https://placeimg.com/120/120/any?{{ i }}" alt="">
    </a>
    {%- endfor %}
  </div>
</div>

<div id="test-popup" class="white-popup mfp-hide">
  <form>
    <div class="form-field">
      <input type="phone" id="ch-1" placeholder="+7 (***) *** ****">
      <label for="ch-1">Чпокс</label>
    </div>
    <div class="form-field">
      <input type="text" id="ch-2">
      <label for="ch-2">Чпокс</label>
    </div>
    <div class="form-field">
      <input id="phone" class="field field_dark js-phone notvalidate" type="tel" required="required" name="phone" autocomplete="off">

    </div>
  </form>
</div>

<a href="#test-popup" class="open-popup-link">Show inline popup</a>

<div class="container">
  <div class="your-class">
    {% for i in range(0, 5) -%}
    <a class="test-popup-link" href="https://placeimg.com/120/120/any?{{ i }}">
      <img src="https://placeimg.com/120/120/any?{{ i }}" alt="">
    </a>
    {%- endfor %}
  </div>
</div>




<style>
  .slider-item {
    height:  200px;
    width: 230px;
  }
  :focus {
    outline:none;
  }
  .white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }
</style>