<div class="container mt-5">
   <button class="js-modal-opener">Показать модалку</button>
</div>
<div class="modal v-hidden">
   <p>Привет, я модалка</p>
</div>

<style>
  .modal {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 2px 2px 2px #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p {
		font-size: 30px;
	}
</style>

