<nav class="navbar">
  <ul class="navbar__list list-unstyled">
      <li class="navbar__item"><a href="#" class="navbar__link">Шаблончик</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Для</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Верстки</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Сайтиков</a></li>
  </ul>
</nav>
<section>
  <header>
    <h1>Let's move to верстать!</h1>
  </header>
</section>
