<span id="tooltip-question" class="tooltip" data-tooltip="Ознакомиться с перечнем операций, за которые не взимается комиссионное вознаграждение, в разделе Тарифы и документы (Сборник тарифов вознаграждений за услуги, оказываемые физическим лицам АО «Банк Финсервис»).">
   <b class="tooltip__pre-text">{{ text }}</b>   
   <span class="tooltip__img" >
      <i class="icon icon-info"></i>
   </span>
   <span class="tooltip__inner"></span>
</span>


