<a class="open-sidebar" href="#">&#9881;</a>
<aside class="ui-sidebar">
  <a href="#" class="close-sidebar">&#9876;</a>
  <nav>
    <ul class="list-unstyled">
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a class="ui-nav" href="#headers">
          Headers
        </a>
      </li>
      <li>
        <a class="ui-nav" href="#buttons">
          Buttons
        </a>
      </li>
      <li>
        <a class="ui-nav" href="#inputs">
          Inputs
        </a>
      </li>
    </ul>
  </nav>
</aside>


<style>
  .open-sidebar {
    line-height: 1;
    z-index: 20;
    font-size: 52px;
    position: fixed;
    left: 0;
    padding: 16px;
    background-color: #2e3133;
    bottom: 0;
    color: #fff;
  }
  .open-sidebar:hover {
    text-decoration: none;
  }
  .close-sidebar {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0 !important;
  }
  .ui-sidebar {
    z-index: 1000;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    transition: 400ms;

  }
  .ui-sidebar li{
    background-color: #fff;
    margin-bottom: 1px;
    box-shadow: 2px 2px 4px #ccc;
  }
  .ui-sidebar a {
    display: inline-block;
    padding: 16px;
    font-size: 20px;
    color: #2e3133;
    line-height: 1;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let sidebar = document.querySelector('.ui-sidebar');
    let link = document.querySelectorAll('.ui-nav');
    let uiList = document.querySelectorAll('section');

    for(let i = 0; i < uiList.length; i++) {
      uiList[i].style.display = 'none';
    }
    document.querySelector('.open-sidebar').addEventListener('click', function (event) {
      event.preventDefault();
      this.style.display = 'none';
      sidebar.style.transform = 'translateX(0)';
    });
    document.querySelector('.close-sidebar').addEventListener('click', function (event) {
      event.preventDefault();

      document.querySelector('.open-sidebar').style.display = 'inline-block';
      sidebar.style.transform = 'translateX(-100%)';
    });

    [].forEach.call(link, item => {

      item.addEventListener('click', function (event) {
        event.preventDefault();

        let href = event.target.getAttribute('href');

        for(let i = 0; i < uiList.length; i++) {
          uiList[i].style.display = 'none';
        }
        setTimeout(function() {
          document.querySelector(href).style.display = 'block';
        },0);

      })
    });
  })

</script>