.table-base-wrapper {
  & tr {
    border: 2px solid darken($tableTdColor, 6%);
    @include media-breakpoint-down(xs) {
      border: 2px solid darken($tableTdColor, 6%);
    }
  }

  @include media-breakpoint-down(xs) {
    overflow-x: scroll;
  }


  @include media-breakpoint-down(xs) {
    position: relative;
    left: -$spacer;
    min-width: 100vw;
  }

  & table.small {
    max-width: 800px;
  }

  & .table_user {
    width: 100%;
    @include media-breakpoint-down(xs) {
      width: auto;
    }
  }

  & table.small td {
    max-width: 200px;
  }

  & .mortgage table td {
    font-size: $fontSize * 0.875;

  }

  & table td, table th {
    border: none !important;
    font-size: $fontSize * 0.875;
    @include media-breakpoint-down(xs) {
      font-size: $fontSize * 0.75;
    }
  }

  & .table_user td {
    border: 1px solid $colorBorderGray;
    padding: $spacer;
    vertical-align: middle;
  }

  & .mortgage table.items-table tr {
    background: $colorPrimaryFirst;

  }

  & .mortgage table tr.head {
    border-bottom: 1px solid $colorBorderGray;
  }

  & .mortgage table th, .mortgage table b, .mortgage table i {
    color: $colorLink;
  }
  & table th, table b {
    font-weight: $fontBold;
    color: $colorLink;
  }

  & table {
    border: 0;
    margin: 0;
    overflow-x: scroll;
    & .td-bg {
      background-color: $tableTdColor;

    }
    & .td-mobile-long {
      border: none !important;
      @include media-breakpoint-down(xs) {
        min-width: 140px;
      }
    }

  }
  & .mortgage table td {
    font-size: $fontSize * 0.875;
    @include media-breakpoint-down(xs) {
      font-size: $fontSize * 0.75;
    }
  }
  & table i.icon {
    font-size: 2 * $spacer;
    height: 40px;
    color: $colorLink;
  }

  & .small_center td.cnt {
    text-align: center;
  }
  & .head td {
    background-color: $colorPrimaryFirst !important;
  }
}

.financial-reporting table td{
  font-size: $fontSize * 0.875;
  padding: $spacer/2 $spacer $spacer/2 0;

}

