.inner-page-p {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.inner-page-p-2 {
  padding-top: 2 * $spacer;
  padding-bottom: 2 * $spacer;
}

.inner-page-m {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.inner-page-m-2 {
  margin-top: 2 * $spacer;
  margin-bottom: 2 * $spacer;
}