.ui-input {
  border: 1px solid $colorBorderGray;
  padding: .5rem 1rem;
  width: 100%;
  @include transition();
  &:focus {
    outline: none;
    @include inputFocus;
  }
}

input[placeholder], textarea[placeholder] {
  font-size: $fontSize * 0.75;
}

.ui-textarea {
  border: 1px solid $colorBorderGray;
  padding: .5rem 1rem;
  width: 100%;
  min-height: $spacer * 8;
  @include transition();
  &:focus {
    outline: none;
    @include inputFocus;
  }
}

.ui-input-form {
  position: relative;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $colorBackground;;
  width: 100%;
  &:focus {
    outline: none;
    @include inputFocus;
  }
}
.jq-selectbox__select {
  height: 42px;
}
.ui-select {
  background: $colorPrimaryFirst;
  width: 100%;

}

.ui-label-check {
  cursor: pointer;
  position: relative;
  display: flex;

  & > .icon {
    @include transition();
    font-size: 1rem;
    transform: translateX(-3px);
  }
  & > span {
    font-size: 0.875 * $font-size-base;
    margin-top: -1px;
  }
}

.ui-checkbox{
  display: none;
  &:checked + .icon:before {
    content: "\f071";
    color: $colorLink;
  }

  &:focus {
    outline: none;
  }
  span {
    margin-left: $spacer / 8;
  }
}

.ui-label-radio {
  display: flex;
  cursor: pointer;
  position: relative;
  & .icon {
    @include transition();
  }
  & > span {
    margin-left: $spacer / 8;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0.125rem;
  }
}

.ui-radio {
  display: none;
  &:checked + .icon:before {
    content: "\f073";
    color: $colorLink;
  }
  &:focus {
    outline: none;
  }
}

.ui-submit {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.375rem;
  font-weight: bold;
  color: $colorText;
  text-transform: uppercase;
  margin: 0 0 $spacer;
  padding: 1.4rem 0;
  transition: all, .3s;
  @include media-breakpoint-down(xs) {
    transform: translateX(-$spacer);
    width: 100vw;
    
  }
  &_calc {
    background-color: $colorYellow;
    transition: background-color 400ms;
    &:hover {
      @include toLight($colorYellow);
    }
  }
  &_send {
    color: $colorPrimaryFirst;
    background-color: $colorRed;
    transition: background-color 400ms;
    &:hover {
      @include toLight($colorRed);
    }
  }
  &_partners {
    background-color: $colorLink;
    color: $colorPrimaryFirst;
    transition: background-color 400ms;
    &:hover {
      @include toLight($colorLink);
    }
  }
}

.ui-search {
  height: 40px;
  max-width: 100%;
  border: 1px solid $colorBorderGray;
}

@import 'roller-input-block';
@import 'links';